.App {
  text-align: center;
}

.Container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 550px;
  margin: 12px 0;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.red {
  color: red;
}
.Data {
  margin-top: 2px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 13px 0;
  box-sizing: border-box;
  width: 514px;
}
.Row {
  padding: 5px 15px;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;
}
span {
  margin-left: 8px;
  cursor: pointer;
}
span:hover {
  color: red;
}

label {
  display: block;
  margin-bottom: 7px;
}
input, select {
  width: 150px;
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #000;
  outline: none;
  box-sizing: border-box;
  height: 35px;
}
button.Btn {
  border-radius: 10px;
  width: 75px;
  height: 37px;
  outline: none;
  border: none;
}