.App {
  text-align: center;
}

.Container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 550px;
  margin: 12px 0;
}

.App-header {
  background-color: #bbb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: black;
}

.Update {
  display: flex;
  width: 83%;
  align-items: center;
}

.Update button {
  margin-left: 15px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  color: green;
  font-weight: 600;
  font-size: large;
}

.Notes {
  display: flex;
  flex-wrap: wrap;
  width: 86%;
}

.Note {
  max-width: 250px;
  padding: 0 15px;
  border: 1px solid #000;
  margin: 30px 15px;
  position: relative;
}

.Note button {
  margin: 0 auto;
  display: block;
  position: absolute;
  top: -10px;
  right: -20px;
}

.Form {
  display: flex;
  align-items: left;
}

.Form button {
  padding: 5px;
  margin: 5px;
}